<p>Olá {{nome}} Seu Token de alteração de senha é: {{token}}</p>
<p>Caso Prefira o Link de Alteração é : <a href="http://localhost:3000/auth/recuperar?token={{token}}">http://localhost:3000/auth/recuperar?token={{token}}</a></p>